<app-als-navbarstudent></app-als-navbarstudent>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h5 class="text-muted font-weight-light">Modulo 1</h5>
      <hr>
      <ul class="list-group">
          <li class="list-group-item active d-flex justify-content-between align-items-center">Bienvenida al Nivel <span class="badge badge-warning badge-pill"><i class="material-icons text-right">send</i></span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Introducción al modulo <span class="badge badge-dark badge-pill"><i class="material-icons text-right">done</i></span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Silabas <span class="badge badge-dark badge-pill"><i class="material-icons text-right">done</i></span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Practica 1 <span class="badge badge-dark badge-pill"><i class="material-icons text-right">done</i></span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Abecedario <span class="badge badge-dark badge-pill"><i class="material-icons text-right">done</i></span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Practica 2 <span class="badge badge-dark badge-pill"><i class="material-icons text-right">done</i></span> </li>
        </ul>
    </div>
    <div class="col-md-8">
        <h5 class="text-muted font-weight-light">Bienvenida al Nivel</h5>
        <hr>
        <p>Bienvenidos al primer modulo del nivel básico en el aprendizaje de la lengua señas.
          En esta primera entrega, se van a ver temas muy básicos como las vocales y masyuculas y algunas recomendaciones 
          de como mejorar en el habla.
        </p>
        <br>
        <button type="button" class="btn btn-outline-success">Continuar</button>
    </div>
  </div>
</div>
<app-als-footer></app-als-footer>