<app-als-navbaradmin></app-als-navbaradmin>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Nuevo Aviso</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button class="btn btn-outline-primary btn-lg btn-block" type="submit">Enviar</button>
        <hr class="mb-4">
        <div class="card text-white border-danger mb-3 text-dark">
            <div class="card-header bg-transparent border-danger">Aviso de Mantenimiento</div>
            <div class="card-body">
              <p class="card-text"><small class="text-muted">Hace 10 mins</small></p>
              <h5 class="card-title">A toda la comunidad</h5>
              <p class="card-text">Se comunica que la plataforma ingresará en un periodo de Mantenimiento
                Hoy desde las 00:00 hasta las 02:00. Gracias. 
              </p>
            </div>
          </div>
      </form>
    </div>
    <div class="col-md-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted font-weight-light">Mensajes recientes</span>
        </h4>
        <hr class="mb-4">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Luis Rivera</h5>
              <p class="card-text"><small class="text-muted">Hace 3 mins</small></p>
              <p class="card-text">Hola, acabo de registrarme pero no puedo ingresar a la plataforma.</p>
              <a href="#" class="card-link">Responder</a>
              <a href="#" class="card-link">Video</a>
            </div>
        </div>
    </div>
  </div>
</div>
<app-als-footer></app-als-footer>