<app-als-navbaradmin></app-als-navbaradmin>
<br>
<div class="container">
  <h5 class="text-muted font-weight-light">Recuperacion Modulo</h5>
  <hr>
  <form>
      <div class="form-row">
          <div class="form-group col-md-6">
              <label for="exampleFormControlSelect1">Seleccione el nivel</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Seleccione</option>
                <option>Básico</option>
                <option>Principiante</option>
                <option>Intermedio</option>
                <option>Avanzado</option>
              </select>
          </div>
          <div class="form-group col-md-6">
              <button type="submit" class="btn btn-outline-primary">Buscar</button>
          </div>
      </div>
  </form>
  <div class="row">
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Modulo 1</h5>
                <p class="card-text">Descripcion del modulo 1</p>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                      <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-success">Ver Historico</button>
                    </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Modulo 2</h5>
                <p class="card-text">Descripcion del modulo 2</p>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                      <button type="button" class="btn btn-outline-success">Ver Historico</button>
                    </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Modulo 3 </h5>
                <p class="card-text">Descripcion del modulo 3</p>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                      <button type="button" class="btn btn-outline-success">Ver Historico</button>
                    </div>
                </div>
              </div>
            </div>
      </div>
    </div>
</div>
<app-als-footer></app-als-footer>