<app-als-navbarstudent></app-als-navbarstudent>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h5 class="text-muted font-weight-light">Modulo 1 - Practicas</h5>
      <hr>
      <ul class="list-group">
          <li class="list-group-item active d-flex justify-content-between align-items-center">Practica 1 <span class="badge badge-warning badge-pill"><i class="material-icons text-right">send</i></span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Practica 2 <span class="badge badge-dark badge-pill"><i class="material-icons text-right">done</i></span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Practica 3 <span class="badge badge-dark badge-pill"><i class="material-icons text-right">done</i></span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Practica 4<span class="badge badge-dark badge-pill"><i class="material-icons text-right">done</i></span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Practica 5 <span class="badge badge-dark badge-pill"><i class="material-icons text-right">done</i></span></li>
        </ul>
    </div>
    <div class="col-md-8">
        <h5 class="text-muted font-weight-light">Practica 1 </h5>
        <hr>
        <p>Practique el abecedario
        </p>
        <br>
        <div class="row">
            <img class="img-fluid max-width mx-auto" src="../../../assets/img/contenido1.png">
        </div>
        <br>
        <button type="button" class="btn btn-outline-success">Continuar</button>
    </div>
  </div>
</div>
<app-als-footer></app-als-footer>