<app-als-navbarstudent></app-als-navbarstudent>
<br>
<div class="container">
  <div class="card">
        <div class="card-body">
            <div class="media">
                <i class="material-icons md-36">face</i>  
                <div class="media-body">
                  <h6 class="text-muted">Nivel Basico</h6>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                  </div>
                </div>
              </div>
        </div>
  </div>
  <hr>
  <h5 class="font-weight-light">Modulos del Nivel Básico</h5>
  <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Modulo 1</h5>
            <p class="card-text">En el presente modulo realizarás los siguientes temas:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-cente">Bienvenida al Nivel
                <span class="badge badge-success badge-pill"><i class="material-icons">done</i></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-cente">Introducción al modulo
                  <span class="badge badge-success badge-pill"><i class="material-icons">done</i></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-cente">Silabas
                  <span class="badge badge-success badge-pill"><i class="material-icons">done</i></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-cente">Practica 1
                  <span class="badge badge-success badge-pill"><i class="material-icons">done</i></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-cente">Abecedario
                  <span class="badge badge-success badge-pill"><i class="material-icons">done</i></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-cente">Practica 2
                  <span class="badge badge-success badge-pill"><i class="material-icons">done</i></span>
              </li>
            </ul>
            <br>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <button type="button" class="btn btn-outline-success" (click) = "startModule()">Iniciar Modulo</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                  <button type="button" class="btn btn-outline-warning" (click) = "startPractice()">Practicas</button>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Modulo 2</h5>
            <p class="card-text">En el presente modulo realizarás los siguientes temas:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-cente">Bienvenida al Nivel
                <span class="badge badge-success badge-pill"><i class="material-icons">done</i></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-cente">Introducción al modulo
                  <span class="badge badge-success badge-pill"><i class="material-icons">done</i></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-cente">Silabas
                  <span class="badge badge-success badge-pill"><i class="material-icons">done</i></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-cente">Practica 1
                  <span class="badge badge-success badge-pill"><i class="material-icons">done</i></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-cente">Abecedario
                  <span class="badge badge-danger badge-pill"><i class="material-icons">close</i></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-cente">Practica 2
                  <span class="badge badge-danger badge-pill"><i class="material-icons">close</i></span>
              </li>
            </ul>
            <br>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <button type="button" class="btn btn-outline-success">Iniciar Modulo</button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                  <button type="button" class="btn btn-outline-warning">Practicas</button>
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<app-als-footer></app-als-footer>