<app-als-navbarstudent></app-als-navbarstudent>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form>
          <div class="card">
              <div class="card-body">
                  <div class="media">
                      <img src="../../../assets/img/perfil.jpeg" class="mr-3" width="64px" height="70px">
                      <div class="media-body">
                        <h5 class="mt-0">@LizMarcelo</h5>
                        <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1"  placeholder="Comparte acontecimientos" rows="3"></textarea>
                        </div>
                        <button type="button" class="btn btn-outline-primary">Compartir</button>
                      </div>
                    </div>
              </div>
            </div>
            <hr class="mb-4">
            <div class="card">
                <div class="card-header">
                  @LizMarcelo - Historia
                </div>
                <div class="card-body">
                  <p class="card-text">Acabo de terminar el primer modulo, es dificil comprender todo 
                    pero me agrada poder entender un poco más de la lengua.</p>
                  <a href="#" class="btn btn-outline-warning">Comentar</a>
                </div>
              </div>
      </form>
    </div>
    <div class="col-md-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted font-weight-light">Avisos</span>
        </h4>
        <hr class="mb-4">
        <div class="card border-danger" >
            <div class="card-body">
              <h5 class="card-title">ALS Social Comunica <span class="badge badge-danger">Nuevo</span></h5>
              <p class="card-text"><small class="text-muted">Hace 1 min</small></p>
              <p class="card-text">La plataforma estará en un periodo de mantenimiento hoy desde las 00:00 hasta las 01:00.
                Gracias por su compresión.
              </p>
              <a href="#" class="card-link">Comentar</a>
            </div>
        </div>
        <br>
        <div class="card border-warning" >
            <div class="card-body">
              <h5 class="card-title">Clase presencial Modulo I <span class="badge badge-warning">Importante</span></h5>
              <p class="card-text"><small class="text-muted">Hace 1 min</small></p>
              <p class="card-text"> Recuerda que tienes una clase en vivo a las 08:00 p.m. sobre el Modulo I. 
                Es importante que hayas concluido con éxito el Modulo I y aprobado el examen.
              </p>
              <a href="#" class="card-link">Ingresar a clase</a>
            </div>
        </div>
    </div>
  </div>
</div>
<app-als-footer></app-als-footer>