<app-als-navbarstudent></app-als-navbarstudent>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
        <h5 class="text-muted font-weight-light">Connecciones</h5>
        <hr>
        <div class="media">
            <img src="../../../assets/img/coneccion.jpeg" class="align-self-center mr-3" height="70px" width="65px">
            <div class="media-body">
              <h5 class="mt-0">@Luisr</h5>
              <p>Luis Rivera</p>
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-outline-success">Mensaje</button>
                  </div>
                  <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-outline-info">Videollamada</button>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
      <h5 class="text-muted font-weight-light">Conversación Activa</h5>
      <hr>
      <div class="media">
        <img src="../../../assets/img/coneccion.jpeg" class="align-self-center mr-3" height="70px" width="65px">
        <div class="media-body">
          <h5 class="mt-0">@Luisr</h5>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="card border-primary">
                <div class="card-body">
                  Hola, podrías ayudarme en la practica del modulo 1
                </div>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <div class="card border-success">
              <div class="card-body">
                Hola, si claro dime
              </div>
            </div>
          </div>
          <div class="col-md-6"></div>
        </div>
      <br>
      <div class="media">
          <div class="media-body">
              <div class="form-group">
                  <textarea class="form-control" id="exampleFormControlTextarea1"  placeholder="" rows="3"></textarea>
              </div>
          </div>
          <button type="button" class="btn btn-outline-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>
<app-als-footer></app-als-footer>